streamlit>=1.10.0
pandas
matplotlib
numpy
sklearn

texthero==1.1.0

Pillow
Scrapy
Twisted
boto
cffi
characteristic
cryptography
cssselect
lxml
pyOpenSSL
pyasn1
pyasn1-modules
pycparser
pymongo
queuelib
scrapy-mongodb
scrapyd
service-identity
six
w3lib
zope.interface